In [177]:
#Importing Pandas, Reading Csv and displaying the first 5 row data
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [178]:
df.columns
print

In [179]:
# To read particular columns
print(df[['Name', 'Type 1', 'HP']])

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [180]:
#suppose you want the value of 2nd and 3rd row (Remember indexes start from 0)
print(df.iloc[2][3])

80

In [181]:
df.sort_values(['Attack'], ascending = 'True')

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
488,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
121,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
230,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
261,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
139,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...
429,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
426,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
424,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
232,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
163,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

In [182]:
#Adding Columns
df['Yolo'] = df['Attack'] + df['HP']
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Yolo
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91

In [183]:
#Dropping Columns
df.drop(columns = ['Yolo'])

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [184]:
#Rearrange Columns
#Create column for Agg HP....Speed = Total which should be displayed after Speed
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] 
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Yolo,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91,309

In [185]:
cols=list(df.columns.values)
cols

['Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'Yolo',
 'Total']

In [186]:
df = df[cols[0:9] + [cols[-1]] + cols[9:12]]
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary,Yolo
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False,94
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False,122
2,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False,162
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False,180
4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False,91

In [187]:
#Filtering Data
#based on grass
df.loc[df['Type 1'] == 'Grass']

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary,Yolo
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False,94
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False,122
2,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False,162
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False,180
48,Oddish,Grass,Poison,45,50,55,75,65,30,320,1,False,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,Chespin,Grass,NaN,56,61,65,48,45,38,313,6,False,117
719,Quilladin,Grass,NaN,61,78,95,56,58,57,405,6,False,139
720,Chesnaught,Grass,Fighting,88,107,122,74,75,64,530,6,False,195
740,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False,131
741,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False,223

In [188]:
#based on generation 1 
df.loc[df['Generation'] == 1]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary,Yolo
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False,94
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False,122
2,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False,162
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False,180
4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,Dragonite,Dragon,Flying,91,134,95,100,100,80,600,1,False,225
162,Mewtwo,Psychic,NaN,106,110,90,154,90,130,680,1,True,216
163,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780,1,True,296
164,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,780,1,True,256
165,Mew,Psychic,NaN,100,100,100,100,100,100,600,1,False,200

In [189]:
#based on generation1 and type of grass
df.loc[(df['Generation'] == 1) & (df['Type 1'] == 'Grass')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary,Yolo
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False,94
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False,122
2,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False,162
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False,180
48,Oddish,Grass,Poison,45,50,55,75,65,30,320,1,False,95
49,Gloom,Grass,Poison,60,65,70,85,75,40,395,1,False,125
50,Vileplume,Grass,Poison,75,80,85,110,90,50,490,1,False,155
75,Bellsprout,Grass,Poison,50,75,35,70,30,40,300,1,False,125
76,Weepinbell,Grass,Poison,65,90,50,85,45,55,390,1,False,155
77,Victreebel,Grass,Poison,80,105,65,100,70,70,490,1,False,185
110,Exeggcute,Grass,Psychic,60,40,80,60,45,40,325,1,False,100
111,Exeggutor,Grass,Psychic,95,95,85,125,65,55,520,1,False,190
122,Tangela,Grass,NaN,65,55,115,100,40,60,435,1,False,120

In [190]:
#either grass or type 1 pokemon 
df.loc[(df['Generation'] == 1) | (df['Type 1'] == 'Grass')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary,Yolo
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False,94
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False,122
2,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False,162
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False,180
4,Charmander,Fire,NaN,39,52,43,60,50,65,309,1,False,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,Chespin,Grass,NaN,56,61,65,48,45,38,313,6,False,117
719,Quilladin,Grass,NaN,61,78,95,56,58,57,405,6,False,139
720,Chesnaught,Grass,Fighting,88,107,122,74,75,64,530,6,False,195
740,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False,131
741,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False,223

In [191]:
#STATISTICS 
df.groupby(['Type 1']).mean()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary,Yolo
Type 1,,,,,,,,,,
Bug,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000,127.855072
Dark,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516,155.193548
Dragon,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000,195.437500
Electric,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909,128.886364
Fairy,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824,135.647059
Fighting,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000,166.629630
Fire,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154,154.673077
Flying,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000,149.500000
Ghost,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500,138.218750
Grass,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857,140.485714
Ground,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000,169.531250
Ice,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333,144.750000
Normal,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408,150.744898
Poison,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000,141.928571
Psychic,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614,142.087719
Rock,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909,158.227273
Steel,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148,157.925926
Water,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714,146.214286

In [192]:
#groupby type 1 and find mean . Also sort values by HP


df.groupby(['Type 1']).mean().sort_values('HP')

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary,Yolo
Type 1,,,,,,,,,,
Bug,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,378.927536,3.217391,0.000000,127.855072
Electric,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,443.409091,3.272727,0.090909,128.886364
Ghost,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,439.562500,4.187500,0.062500,138.218750
Steel,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,487.703704,3.851852,0.148148,157.925926
Rock,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,453.750000,3.454545,0.090909,158.227273
Dark,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,445.741935,4.032258,0.064516,155.193548
Poison,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,399.142857,2.535714,0.000000,141.928571
Grass,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,421.142857,3.357143,0.042857,140.485714
Fighting,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,416.444444,3.370370,0.000000,166.629630
Fire,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,458.076923,3.211538,0.096154,154.673077
Psychic,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,475.947368,3.385965,0.245614,142.087719
Flying,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,485.000000,5.500000,0.500000,149.500000
Ice,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,433.458333,3.541667,0.083333,144.750000
Water,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,430.455357,2.857143,0.035714,146.214286
Ground,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,437.500000,3.156250,0.125000,169.531250
Fairy,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,413.176471,4.117647,0.058824,135.647059
Normal,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,401.683673,3.051020,0.020408,150.744898
Dragon,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,550.531250,3.875000,0.375000,195.437500

In [197]:
df.groupby(['Type 1']).count().sort_values(['Name'])

,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary,Yolo
Type 1,,,,,,,,,,,,
Flying,4,2,4,4,4,4,4,4,4,4,4,4
Fairy,17,2,17,17,17,17,17,17,17,17,17,17
Ice,24,11,24,24,24,24,24,24,24,24,24,24
Fighting,27,7,27,27,27,27,27,27,27,27,27,27
Steel,27,22,27,27,27,27,27,27,27,27,27,27
Poison,28,13,28,28,28,28,28,28,28,28,28,28
Dark,31,21,31,31,31,31,31,31,31,31,31,31
Ghost,32,22,32,32,32,32,32,32,32,32,32,32
Dragon,32,21,32,32,32,32,32,32,32,32,32,32
Ground,32,19,32,32,32,32,32,32,32,32,32,32
Electric,44,17,44,44,44,44,44,44,44,44,44,44
Rock,44,35,44,44,44,44,44,44,44,44,44,44
Fire,52,24,52,52,52,52,52,52,52,52,52,52
Psychic,57,19,57,57,57,57,57,57,57,57,57,57
Bug,69,52,69,69,69,69,69,69,69,69,69,69
Grass,70,37,70,70,70,70,70,70,70,70,70,70
Normal,98,37,98,98,98,98,98,98,98,98,98,98
Water,112,53,112,112,112,112,112,112,112,112,112,112

In [201]:
#Regex Filtering
#Type 1 contains ras
df.loc[df['Type 1'].str.contains('ras')]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,Generation,Legendary,Yolo
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318,1,False,94
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,405,1,False,122
2,Venusaur,Grass,Poison,80,82,83,100,100,80,525,1,False,162
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,625,1,False,180
48,Oddish,Grass,Poison,45,50,55,75,65,30,320,1,False,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,Chespin,Grass,NaN,56,61,65,48,45,38,313,6,False,117
719,Quilladin,Grass,NaN,61,78,95,56,58,57,405,6,False,139
720,Chesnaught,Grass,Fighting,88,107,122,74,75,64,530,6,False,195
740,Skiddo,Grass,NaN,66,65,48,62,57,52,350,6,False,131
741,Gogoat,Grass,NaN,123,100,62,97,81,68,531,6,False,223